/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Base ===== */
body {
    font-family: "Inter", "Segoe UI", Arial, sans-serif;
    background-color: #f4f6f8;
    color: #1f2933;
    line-height: 1.75;
    letter-spacing: 0.2px;
    padding-top: 80px;
}

/* ===== Layout ===== */
.container {
    width: 1100px;
    margin: 0 auto;
}

/* ===== Header (Corporate Style) ===== */
header {
    background-color: #0f172a; /* 深蓝黑 */
    padding: 28px 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #030a12;
    transition: padding 0.3s ease;
}

header.shrink {
    padding: 12px 0;
}

header h1 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: font-size 0.3s ease;
}

header.shrink h1 {
    font-size: 15px;
}

header.shrink nav a{
    font-size: 12px;
}

nav {
    margin-top: 12px;
}

nav a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 13px;
    margin-right: 28px;
    letter-spacing: 0.8px;
    transition: font-size 0.3s ease;
}

nav a:hover {
    color: #ffffff;
}

/* ===== Hero ===== */
.hero {
    background-color: #0f172a;
    background-image:
        linear-gradient(
            rgba(255,255,255,0.04) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,0.04) 1px,
            transparent 1px
        );
    background-size: 40px 40px;
    padding: 160px 0 140px 0;
    color: #ffffff;
}


.hero h2 {
    font-size: 38px;
    font-weight: 500;
    max-width: 850px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.hero p {
    margin-top: 28px;
    font-size: 18px;
    color: #475569;
    max-width: 780px;
    color: #cbd5e1;
}

/* ===== Section ===== */
.section {
    padding: 80px 0;
    background-color: #ffffff;
    margin-bottom: 40px;
}

.section.alt {
    background-color: #eef2f6;
}

.section h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 35px;
    letter-spacing: 0.4px;
}

.section p {
    max-width: 850px;
    margin-bottom: 22px;
    color: #334155;
}

/* ===== List ===== */
.list {
    margin-top: 20px;
}

.list li {
    margin-bottom: 14px;
    padding-left: 18px;
    position: relative;
}

.list li::before {
    content: "–";
    position: absolute;
    left: 0;
    color: #64748b;
}

/* ===== Project Card ===== */
.project-card {
    background-color: #ffffff;
    padding: 40px 50px;
    border: 1px solid #e2e8f0;
    margin-bottom: 30px;
    position: relative;
    scroll-margin-top: 210px;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0f172a;
}

.project-card h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project-card p {
    color: #475569;
    font-size: 14px;
}

.project-card a {
    display: inline-block;
    margin-top: 14px;
    font-size: 13px;
    letter-spacing: 0.8px;
    text-decoration: none;
    color: #0f172a;
    border-bottom: 1px solid #0f172a;
}

/* ===== Footer ===== */
.footer {
    background-color: #020617;
    color: #94a3b8;
    padding: 30px 0;
    font-size: 13px;
    letter-spacing: 0.6px;
}

.footer strong {
    color: #e2e8f0;
}

.hero-stats {
    display: flex;
    gap: 80px;
    margin-top: 60px;
}

.hero-stats div {
    font-size: 14px;
    color: #536278;
    letter-spacing: 0.8px;
}

.hero-stats strong {
    display: block;
    font-size: 12px;
    color: #606e90;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.content-card {
    background-color: #ffffff;
    padding: 60px 70px;
    border-left: 4px solid #0f172a;
}

.project-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.project-images img {
    width: 100%;
    height: auto;
    border: 1px solid #e2e8f0;
}

.content-img {
    margin-top: 40px;
    text-align: center;
}

.content-image img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border: 1px solid #e2e8f0;
}

.content-split {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 60px;
    align-items: center;
}

.more-projects {
    margin-top: 50px;
}

.btn-primary {
    display: inline-block;
    padding: 16px 40px;
    background-color: #0f172a;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #292d3e;
}

.view-project {
    display: inline-block;
    padding: 12px 28px;
    background-color: #0f172a;
    color: #ffffff !important;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
}

.view-project:hover {
    background-color: #292d3e;
}

.project-index {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 70px 0 30px 60px ;
}

.project-index a {
    padding: 10px 22px;
    border: 1px solid #0f172a;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.8px;
    color: #0f172a;
}

.project-index a:hover {
    background-color: #0f172a;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}
